<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="thin content-title">Register</h2>
        </div>
        <form ng-submit="$ctrl.register()">
            <div class="form-group">
                <label class="sr-only" for="email"></label>
                <input class="form-control" id="email" type="text" ng-model="$ctrl.user.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="username"></label>
                <input class="form-control" id="username" type="text" ng-model="$ctrl.user.username" placeholder="Username">
            </div>
            <div class="form-group">
                <!-- Tooltip explaining display name -->
                <label class="sr-only" for="displayname"></label>
                <input class="form-control" id="displayname" type="text" ng-model="$ctrl.user.name" placeholder="Display Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password"></label>
                <input class="form-control" id="password" type="password" ng-model="$ctrl.user.password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <div ng-show="$ctrl.error" class="alert alert-danger auth-alert">{{ $ctrl.error }}</div>
    </div>
</div>