$primary-color: #19bc9c;
$inactive-color: #D3D3D3;


body {
  font-family: 'Lato', sans-serif;
}

.test-class {
  .inner-test {
    color: green;
    font-weight: 600;
  }
  background: $inactive-color;
}

.component-col {
  border: 1px solid black;
}

#content-col {
  margin-top: 100px;
}

.n-navbar {
  height: 100px;
  box-shadow: 0 0 5px 0;
}



.navbar-default {
  background: white;
  .navbar-nav {
    .active > a {
      color: $primary-color;
    }
    li {
      a {
        background: white;
        color: $inactive-color;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 70px;
      }
      a:link, a:visited, a:hover, a:active {
        background: white;
      }
      a:hover, a:active {
        color: $primary-color;
      }
      a:focus {
        color: $primary-color;
      }
    }
  }

  .navbar-collapse {
    background: white;
    height: auto;
  }

  .navbar-header {
    height: 100px;
  }

  @media (min-width: 768px) {
    .side-nav {
      box-shadow: 5px 0 5px -5px;
      position: fixed;
      top: 98px;
      left: 225px;
      width: 225px;
      margin-left: -225px;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;

      li {
        float: none;
      }
    }

  }

  .brand-image {
    height: 70px;
  }
}

.content-title {
  font-size: 40px;
  color: $primary-color;
}

.thin {
  font-weight: 300;
}

.panel-title > .glyphicon {
  font-size: 15px;
}

.panel-title-text {
  margin-left: 5px;
}