$primary-color: #19bc9c;
$inactive-color: #D3D3D3;


body {
  font-family: 'Lato', sans-serif;
}

.panel-primary {
  .panel-heading {
    background: $primary-color;
  }
}

.btn-primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  text-transform: uppercase;
}

.form-control {
  border: 1px solid $primary-color;
}

.component-col {
  border: 1px solid black;
}

#content-col {
  margin-top: 100px;
}

.content-col-extend {
  padding-left: 45px;
}

.n-navbar {
  height: 100px;
  box-shadow: 0 0 5px 0;
}

.navbar-default {
  background: white;
  .navbar-nav {

    li, .active {
      a {
        background: white;
        color: $inactive-color;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 70px;
      }
      a:link, a:visited, a:hover, a:active {
        background: white;
      }
      a:hover, a:active, a:focus {
        color: $primary-color;
      }
    }
    .active a, .active i {
      color: $primary-color;
    }
  }

  .navbar-collapse {
    background: white;
    height: auto;
  }

  .navbar-header {
    height: 100px;
  }

  .side-nav-close-btn {
    display: none;
  }

  @media (min-width: 768px) {
    .side-nav-container {
      background: white;
      box-shadow: 5px 0 5px -5px;
      display: flex;
      margin-bottom: -10px;
      position: fixed;
      top: 98px;
      left: 0;
      bottom: 0;
      width: 225px;

      .side-nav-close-btn {
        display: flex;
        height: 100%;
        margin-left: auto;
        margin-right: 5px;
        align-items: center;

        i {
          color: $inactive-color;
          cursor: pointer;
        }
        i:hover {
          color: $primary-color;
        }
      }
    }

    .side-nav {
      border: none;
      border-radius: 0;
      overflow-y: auto;
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;

      li {
        float: none;
      }
    }

    .side-nav-closed {
      left: -200px;
    }
  }

  .brand-image {
    height: 70px;
  }
}

.content-title {
  font-size: 40px;
  color: $primary-color;
}

.thin {
  font-weight: 300;
}

.panel-title > .glyphicon {
  font-size: 15px;
}

.panel-title-text {
  margin-left: 5px;
}