<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="glyphicon glyphicon-user"></i>
            <span class="panel-title-text">Patient Information: {{ $ctrl.patient.name }}</span>
        </div>
    </div>

    <div class="panel-body">
        <h4>Name: {{ $ctrl.patient.name }}</h4>
        <h5>Status Notes:</h5>
        <ul>
            <li ng-repeat="status in $ctrl.patient.statuses">{{ status.created_at | date }}: {{ status.body }}</li>
        </ul>


        <form
                class="form-inline"
                ng-show="$ctrl.currentUser.id === $ctrl.patient.scientist_id"
                ng-submit="$ctrl.addStatus()">
            <div class="form-group">
                <label class="sr-only" for="status">Status</label>
                <input class="form-control" type="text"
                       id="status"
                       ng-model="$ctrl.newStatus.body"
                       placeholder="Status"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Note Status" />
        </form>
    </div>
</div>